* {
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  background-color: #f3f2f7;
  overflow-x: hidden;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-wrapper {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.menu-wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #f3f2f7;
  padding: 15px 0;
}

.menu-wrapper-top-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  margin-top: 3px;
  padding-right: 45px;
}

.menu-wrapper-top-right-img {
  width: 25px;
  height: 25px;
  margin-right: -45px;
}

.menu-wrapper-top-right h5 {
  margin-right: 10px;
}

.menu-wrapper-top-left {
  width: 50%;
  margin-right: 180px;
  font-size: 20px;
}

.menu-wrapper-top-left i {
  border: 18px solid #f3f2f7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid #f3f2f7;
  padding: 25px 0 5px 0;
}

.menu-wrapper-header-bgc {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bb113b), color-stop(#f873a2), to(#e0b010));
  background-image: linear-gradient(#bb113b, #f873a2, #e0b010);
}

.menu-wrapper-header-bgc-img {
  width: 90px;
  height: 90px;
  padding: 0.3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-wrapper-header-title {
  padding: 20px 0;
  color: #504f4f;
}

.menu-wrapper-header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10px;
}

.menu-wrapper-header-info-1 p {
  color: #918e8d;
}

.menu-wrapper-header-info-2 {
  margin: 0 50px;
}

.menu-wrapper-header-info-2 p {
  color: #918e8d;
}

.menu-wrapper-header-info-3 p {
  color: #918e8d;
}

.menu-wrapper-main-menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 25px;
  padding-top: 15px;
  color: #918e8d;
  height: 480px;
}

.menu-wrapper-main-menu-ul :nth-child(8) {
  border-top: 2px solid #f3f2f7;
}

.menu-wrapper-main-menu-ul p {
  font-size: 12px;
  padding-right: 5px;
  color: #ffffff;
}

.menu-wrapper-main-menu-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  padding: 10px;
}

.menu-wrapper-main-menu-ul li:hover {
  color: #bb113b;
}

.menu-wrapper-main-menu-ul h6 {
  padding-right: 20px;
}

.menu-wrapper .p-bgc {
  background-color: #bb113b;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}

.menu-3::after {
  margin-right: 5px;
  content: "3";
  background-color: #bb113b;
  padding-right: 6px;
  padding-bottom: -33px;
  border-radius: 50%;
  font-size: 11px;
  color: white;
  width: 17px;
  height: 17px;
}

.main-wrapper {
  width: 90%;
  margin-right: 250px;
}

.main-wrapper-header {
  padding-top: 10px;
}

.main-wrapper-ul {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper-ul-a {
  color: black;
  font-weight: bold;
}

.main-wrapper-ul-a:hover {
  color: black;
}

.main-wrapper-ul li {
  background-color: #ffffff;
  padding: 5px 25px;
  border-radius: 3px;
  margin: 5px;
  -webkit-box-shadow: 0 0 5px #b5b5b5;
          box-shadow: 0 0 5px #b5b5b5;
}

.main-wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  height: 500px;
  width: 100%;
}

.main-wrapper-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  padding: 5px;
}

.main-wrapper-content-title-icon {
  padding-right: 32px;
}

.main-wrapper-content-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  height: 100%;
  padding: 5px;
}

.main-wrapper-content-sm-1 {
  background-image: url(../images/avatar-1.jpg);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
  margin-bottom: 7px;
}

.main-wrapper-content-sm-2 {
  background-image: url(../images/img4.jpg);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
}

.main-wrapper-content-sm-3 {
  background-image: url(../images/img6.jpg);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
  margin-bottom: 7px;
}

.main-wrapper-content-sm-4 {
  background-image: url(../images/avatar-lg-1.jpg);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
}

.main-wrapper-content-lg {
  width: 50%;
  height: 100%;
  padding: 5px;
}

.main-wrapper-content-lg-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  background-image: url(../images/img2.jpg);
  -webkit-box-shadow: inset 0px -55px 35px -11px #000000;
          box-shadow: inset 0px -55px 35px -11px #000000;
}

.main-wrapper-content-lg-1-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: #ffffff;
  padding-left: 20px;
}

.main-wrapper-content-lg-1-p-1 {
  opacity: 75%;
}

.main-wrapper-content-lg-1-p-2 {
  font-weight: bold;
}

.main-wrapper-content-lg-1-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #ffffff;
  margin-bottom: 150px;
  padding-right: 25px;
  opacity: 90%;
}

.main-wrapper-content-lg-1-profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.main-wrapper-content-lg-1-profile-info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 13px;
}

.main-wrapper-content-lg-1-profile-info-icon-1 {
  margin-left: 10px;
}

.main-wrapper-content-lg-1-profile-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bb113b), color-stop(#f873a2), to(#e0b010));
  background-image: linear-gradient(#bb113b, #f873a2, #e0b010);
}

.main-wrapper-content-lg-1-profile-bg-img {
  width: 35px;
  height: 35px;
  padding: 0.3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper-content-footer {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper-content-footer-1 {
  background-image: url(../images/img1.jpg);
  width: 30%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
  margin: 5px;
}

.main-wrapper-content-footer-2 {
  background-image: url(../images/img3.jpg);
  width: 30%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
  margin: 5px;
}

.main-wrapper-content-footer-3 {
  background-image: url(../images/img8.jpg);
  width: 30%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
  margin: 5px;
}

.main-wrapper-content-footer-4 {
  background-image: url(../images/img5.jpg);
  width: 30%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 35px -11px #000000;
          box-shadow: inset 0px -40px 35px -11px #000000;
  margin: 5px;
}
/*# sourceMappingURL=main.css.map */